{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block main %}
    <form method="post" class="uk-form-stacked uk-width-1-2@m uk-margin-auto">
        {% if error %}
            <div class="uk-alert-danger" uk-alert>
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="uk-alert-primary" uk-alert>
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="uk-heading-bullet uk-text-center">Connexion</h1>

        <div class="uk-margin">
            <label class="uk-form-label" for="username">Email</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="email" value="{{ last_username }}" name="_username" id="username"
                       autocomplete="email" required autofocus>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="password">Mot de passe</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="password" name="_password" id="password" autocomplete="current-password"
                       required>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="uk-margin">
            <label>
                <input type="checkbox" name="_remember_me">
                Se souvenir de moi
            </label>
        </div>

        <div class="uk-margin uk-text-center">
            <button class="uk-button uk-border-pill uk-button-primary uk-width-1-1">Se connecter</button>
        </div>
        <div>
            <a class="uk-button uk-border-pill uk-button-primary uk-width-1-1" href="{{ path("app_forgot_password_request") }}"
               title="reset password">Mot de passe oublié ?</a>
        </div>
    </form>

    <div class="uk-margin uk-text-center cm-text-persian-green">
        <p class="uk-margin-remove-bottom">Vous n'avez pas encore de compte ?</p>
        <a class="cm-text-persian-green" href="{{ path('app_register') }}">Inscrivez-vous</a>
    </div>


{% endblock %}
