{% extends 'base.html.twig' %}

{% block title %}Liste des sorties | Admin | {{ parent() }}{% endblock %}

{% block main %}
    <h1 class="uk-heading-bullet uk-margin-remove-bottom uk-text-center">Liste des sorties</h1>

    <div class="uk-align-center uk-text-center">
        <a class="uk-button uk-button-small uk-button-primary uk-border-pill" href="{{ path('admin_dashboard') }}">Revenir
            au tableau de bord</a>
    </div>

    <div class="uk-container-expand uk-margin-top uk-margin-xlarge-left uk-margin-xlarge-right">
        <table class="uk-table uk-table-hover uk-table-divider uk-table-large uk-table-responsive">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Nombre d'inscrits</th>
                <th>Etat</th>
                <th class="uk-text-center">Annuler</th>
                <th class="uk-text-center">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.lieu.nom }} – {{ sortie.lieu.rue }}, {{ sortie.lieu.ville.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.nbInscrits }}</td>
                    <td>{{ sortie.etat.name }}</td>
                    <td class="uk-text-center">
                        {% if sortie.etat.name != 'ANNULEE' %}
                            <a href="{{ path('admin_cancel_event', { id: sortie.id}) }}"
                               class="uk-button uk-border-pill uk-button-primary uk-width-1-1 uk-button-red"
                               onclick="return confirm('Voulez-vous vraiment annuler {{ sortie.nom }} ?');">
                                Annuler
                            </a>
                        {% else %}
                            <span class="uk-text-muted">Déjà annulée</span>
                        {% endif %}
                    </td>
                    <td class="uk-text-center">
                        <a href="{{ path('admin_delete_event', { id: sortie.id }) }}"
                           class="uk-button uk-border-pill uk-button-primary uk-width-1-1 uk-button-red"
                           onclick="return confirm('Voulez-vous vraiment supprimer {{ sortie.nom }} ?');">
                            Supprimer
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}