{% extends 'base.html.twig' %}

{% block title %}Ajouter des utilisateurs | Admin.{% endblock %}

{% block main %}
    <h1 class="uk-heading-bullet uk-margin-remove-bottom uk-text-center">Ajouter un membre</h1>

    <div class="uk-align-center uk-text-center">
        <a class="uk-button uk-button-small uk-button-primary uk-border-pill" href="{{ path('admin_dashboard') }}">Revenir
            au tableau de bord</a>
    </div>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.campus) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}


    <button class="uk-button uk-border-pill uk-button-primary uk-width-1-1 uk-button-green" type="submit">Valider
    </button>
    {{ form_end(registrationForm) }}
{% endblock %}

