{% extends 'base.html.twig' %}

{% block title %}Sorties disponibles{% endblock %}

{% block main %}
    <section class="uk-section uk-preserve-color cm-background-charcoal uk-light">
        <div class="uk-container uk-container-large">
            <div class="uk-text-center">
                <h1 class="uk-heading-large uk-margin-remove-bottom">Création d'une activité</h1>
                <p class="uk-text-large uk-margin-small-top cm-text-saffron">Découvrez toutes les activités
                    proposées</p>
            </div>
        </div>
    </section>

    {#    <section class=""> #}
    {#        <div class=""> #}
    {#            {{ form_start(form) }} #}
    {#            <div class="uk-flex uk-flex-center"> #}
    {#                {{ form_row(form.nom) }} #}
    {#            </div> #}
    {#            -----------separation----------- -#}
    {#            <div class="uk-flex uk-flex-row uk-flex-between"> #}
    {#                {{ form_row(form.dateHeureDebut) }} #}
    {#                {{ form_row(form.dateLimiteInscription) }} #}
    {#                {{ form_row(form.duree) }} #}
    {#            </div> #}
    {#            -----------separation----------- -#}
    {#            <div class="uk-flex uk-flex-row uk-flex-between"><img class="cm-photo-create-sortie" #}
    {#                                                                  src="{{ asset('images/add-image-photo-icon.svg') }}" #}
    {#                                                                  alt="">{{ form_row(form.photo) }}</div> #}
    {#            -----------separation----------- -#}
    {#            <div class="uk-flex uk-flex-row uk-flex-between"> #}
    {#                    {{ form_row(form.nbInscriptionMin) }} #}
    {#                    {{ form_row(form.nbInscriptionMax) }} #}
    {#                    {{ form_row(form.interets) }} #}
    {#            </div> #}
    {#            -----------separation----------- -#}
    {#            <div class=""> #}
    {#                {{ form_row(form.infos) }} #}
    {#            </div> #}
    {#            -----------separation----------- -#}
    {#            <div class="uk-flex uk-flex-row uk-flex-between" data-controller="lieu"> #}
    {#                    {{ form_row(form.campus) }} #}
    {#                    {{ form_row(form.lieu) }} #}
    {#                    {{ form_row(form.adresse) }} #}
    {#                    {{ form_row(form.ville) }} #}
    {#                    {{ form_row(form.codePostal) }} #}
    {#            </div> #}

    {#            -----------separation----------- -#}
    {#            <div class="uk-flex uk-flex-row uk-flex-center"> #}
{#                    {{ form_row(form.create) }} #}
{#                    {{ form_row(form.cancel) }} #}
    {#            </div> #}


    {#            {{ form_end(form) }} #}

    {#        </div> #}
    {#    </section> #}

    <!-- Form -->
    <form class="uk-form-stacked">
        {{ form_start(form) }}
        <!-- Section 1: Informations principales -->
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-bottom cm-form-section">
            <h3 class="uk-card-title uk-flex uk-flex-middle uk-margin-medium-bottom">
                <span class="cm-section-icon uk-margin-small-right"></span>
                Informations principales
            </h3>

            <div class="uk-margin">
                {{ form_row(form.nom) }}
            </div>
        </div>

        <!-- Section 2: Planning -->
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-bottom cm-form-section">
            <h3 class="uk-card-title uk-flex uk-flex-middle uk-margin-medium-bottom">
                <span class="cm-section-icon uk-margin-small-right"></span>
                Planning et timing
            </h3>

            <div class="uk-grid-small uk-child-width-1-3@m" uk-grid>
                <div>
                    {{ form_row(form.dateHeureDebut) }}
                </div>
                <div>
                    {{ form_row(form.dateLimiteInscription) }}
                </div>
                <div>
                    {{ form_row(form.duree) }}
                </div>
            </div>
        </div>

        <!-- Section 3: Photo -->
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-bottom cm-form-section">
            <h3 class="uk-card-title uk-flex uk-flex-middle uk-margin-medium-bottom">
                <span class="cm-section-icon uk-margin-small-right"></span>
                Image de la sortie
            </h3>

            <div class="uk-margin">
                <div class="uk-placeholder uk-text-center cm-photo-upload uk-border-rounded">
                    <span uk-icon="icon: camera; ratio: 2" class="uk-text-muted"></span>
                    <p class="uk-text-lead uk-margin-remove-bottom">Cliquez pour ajouter une photo</p>
                    <p class="uk-text-meta">Formats acceptés: JPG, PNG, GIF (max 5MB)</p>
                    <input type="file" id="photo" name="photo" accept="image/*"
                           class="uk-position-cover uk-margin-remove" style="opacity: 0; cursor: pointer;">
                </div>
            </div>
        </div>

        <!-- Section 4: Participants -->
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-bottom cm-form-section">
            <h3 class="uk-card-title uk-flex uk-flex-middle uk-margin-medium-bottom">
                <span class="cm-section-icon uk-margin-small-right"></span>
                Participants et centres d'intérets
            </h3>


            <div class="uk-grid-small uk-child-width-1-3@m" uk-grid>
                <div>
                    {{ form_row(form.nbInscriptionMin) }}
                </div>
                <div>
                    {{ form_row(form.nbInscriptionMax) }}
                </div>
                <div>
                    {{ form_row(form.interets) }}
                </div>
            </div>
        </div>

        <!-- Section 5: Description -->
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-bottom cm-form-section">
            <h3 class="uk-card-title uk-flex uk-flex-middle uk-margin-medium-bottom">
                <span class="cm-section-icon uk-margin-small-right"></span>
                Description de la sortie
            </h3>

            <div class="uk-margin">
                {{ form_row(form.infos) }}
            </div>
        </div>

        <!-- Section 6: Localisation -->
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-bottom cm-form-section">
            <h3 class="uk-card-title uk-flex uk-flex-middle uk-margin-medium-bottom">
                <span class="cm-section-icon uk-margin-small-right"></span>
                Localisation et lieu de rendez-vous
            </h3>
            <div data-controller="lieu">
                <!-- Campus et Lieu -->
                <div class="uk-grid-small uk-child-width-1-2@m uk-margin" uk-grid>
                    <div>
                        {{ form_row(form.campus) }}
                    </div>
                    <div>
                        {{ form_row(form.lieu) }}
                    </div>
                </div>

                <!-- Adresse complète -->
                <div class="uk-grid-small uk-child-width-1-3@m" uk-grid>
                    <div>
                        {{ form_row(form.adresse) }}
                    </div>
                    <div>
                        {{ form_row(form.ville) }}
                    </div>
                    <div>
                        {{ form_row(form.codePostal) }}
                    </div>
                </div>
            </div>
        </div>


        <!-- Boutons d'action -->
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-text-center">
            <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
                <div>{{ form_row(form.cancel) }}</div>
                <div>{{ form_row(form.create) }}</div>
            </div>
        </div>

    </form>
    </div>
    </section>





{% endblock %}