<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Campus Mouv'{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png">

        {#  UIKIT CSS #}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/uikit/css/uikit.css') }}">
        {#  ./UIKIT CSS #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {#  UIKIT CSS #}
            <script src="{{ asset('styles/uikit/js/uikit.js') }}"></script>
            <script src="{{ asset('styles/uikit/js/uikit-icons.js') }}"></script>
            {#  ./UIKIT CSS #}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <header>
            {% include '_nav.html.twig' %}
        </header>

    {#  Pour chaque type de message temporaire (ex: [success, [messages]] #}
    {% for label, messages in app.flashes %}
        {#  Pour chaque message j'affiche une alert. ex: [Virement effectué, Connecté] #}
        {% for message in messages %}
            <div class="uk-alert-{{ label }}" uk-alert>
                <a href class="uk-alert-close" uk-close></a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer class="uk-section-secondary">
            {% include '_footer.html.twig' %}
        </footer>

    </body>
</html>
