{% extends 'base.html.twig' %}

{% block title %}
    {% if user %}
        Profil | {{ user.prenom | capitalize ~ ' ' ~ user.nom | first ~ '.' }} | {{ parent() }}
    {% else %}
        Profil | Utilisateur supprimé | {{ parent() }}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="uk-width-1-2@m uk-margin-auto uk-margin-top">
        <h1 class="uk-heading-divider uk-text-center">Découvre le profil de {{ user.prenom }}</h1>

        {{ form_start(form, {
            method: '',
            attr: {
                class: 'uk-form-stacked'
            }
        }) }}

        {% if app.user.photo %}
            <img src="{{ user.photo }}" alt="Photo de profil"
                 style="width:150px; height:150px; object-fit:cover; border-radius:50%;">
        {% else %}
            <img src="{{ asset('images/default-avatar.jpg') }}" alt="Avatar par défaut"
                 style="width:150px; height:150px; border-radius:50%;">
        {% endif %}

        {{ form_row(form.prenom, {attr: {readonly: 'readonly', disabled:'true'}}) }}
        {{ form_row(form.nom, {attr: {readonly: 'readonly', disabled:'true'}}) }}
        {{ form_row(form.pseudo, {attr: {readonly: 'readonly', disabled:'true'}}) }}
        {{ form_row(form.bio, {attr: {readonly: 'readonly', disabled:'true'}}) }}
        {{ form_row(form.campus, {attr: {readonly: 'readonly', disabled:'true'}}) }}
        {{ form_row(form.interets, {attr: {readonly: 'readonly', disabled:'true'}}) }}
        {{ form_row(form.promo, {attr: {readonly: 'readonly', disabled:'true'}}) }}

        <div class="uk-margin uk-text-center">
            <a class="uk-button uk-button-primary uk-width-1-1" href="{{ path('sorties_home') }}">Retour</a>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
