{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}
    <div class="uk-width-1-2@m uk-margin-auto uk-margin-top">
        <h1 class="uk-heading-bullet uk-margin-remove-bottom uk-text-capitalize uk-text-center">Mon profil</h1>

        {{ form_start(form, {
            method: 'post',
            attr: {
                class: 'uk-form-stacked',
                enctype: 'multipart/form-data'
            }
        }) }}

        {% if app.user.photo %}
            <img src="{{ app.user.photo }}" alt="Photo de profil"
                 style="width:150px; height:150px; object-fit:cover; border-radius:50%;">
        {% else %}
            <img src="{{ asset('images/default-avatar.jpg') }}" alt="Avatar par défaut"
                 style="width:150px; height:150px; border-radius:50%;">
        {% endif %}

        {{ form_row(form.photo) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.pseudo) }}
        {{ form_errors(form.pseudo) }}
        {{ form_row(form.email) }}
        {{ form_row(form.bio) }}
        {{ form_row(form.campus) }}

        <div class="cm-interets">
            {{ form_label(form.interets) }}
            {{ form_widget(form.interets) }}
            {{ form_errors(form.interets) }}
        </div>

        {{ form_row(form.promo) }}

        <div class="uk-margin uk-text-center">
            <button class="uk-button uk-button-primary uk-width-1-1" type="submit">Mettre à jour</button>
        </div>

        <div class="uk-margin uk-text-center">
            <a class="uk-button uk-button-primary uk-width-1-1" href="{{ path('password') }}">Modifier le mot de
                passe</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
